body{
    background-color: black;
}
h1{
    text-align: center; color:azure
}
fieldset{
    background-color: aquamarine;
    float: center;
    width:20%;
    margin: 0px auto;
    
}
legend{
    background-color: red;
    text-align: center;
    
}
p{
    line-height: 1px;
    text-align: center;
}
button{
    margin-left: 10px;
    float: right;
    
    border: 1px solid rgb(238, 238, 238);
    border-radius: 6px;
    background-color: #e45b25;
    
    

}